.chat-length{
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
}

.chat-header img{
    height: 100px;
    width: 100px;
}

.chat-card{
    border-radius: 30px; 
    background: rgba(73,165,191,1);   
}

.chat-header{
    display: flex;
    padding: 10px 30px 10px 30px;
    
}

.chat-text{
    padding: 16px 10px 16px 25px;
}

.chat-name{
    font-family: 'Roboto Mono', monospace;
    font-size: 23px;
    margin: 0px !important;
}
.icon-right{
    position: absolute;
    top: 40px;
    right: 35px;
    font-size: 30px;
    cursor: pointer;
}

.chat-username{
    display: flex;
    padding: 10px 0px 0px 26px;
}
.chat-body{
    min-height: 332px;
    max-height: 332px;
    overflow-y: auto;
    border-top: 1px solid black;
}

.chat-username img{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.chat-message{
    padding: 15px 18px 7px 18px;
    font-size: 16px;
    margin-bottom: 0px !important;
    background: rgba(179,220,237,1);
    border-radius: 26px;
}

.chat-footer{
    padding: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.send-chat{
    border: none;
    width: 100%;
    padding: 15px 25px 15px 25px;
    border-radius: 26px;
    outline: none;
}

.chat-sender{
    margin: 0px 0px 0px 95px!important;
    font-size: 12px;
}

.send-button{
    position: absolute;
    bottom: 30px;
    right: 40px;
    font-size:26px;
    cursor: pointer;
}

.side-menu{
    z-index: 1;
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border-radius: 15px;
    top:75px;
    right: 40px;
    display: none;
}

.side-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu ul li{
    width: 100%;
    padding: 10px 15px;
    margin-bottom: 5px;
}

.side-menu ul li i{
    padding-right: 10px;
}

.side-menu ul li:hover{
    cursor: pointer;
}

@media (min-width: 300px){
    .chat-header{
        padding: 10px 30px 0px 5px;
    }

    .chat-header img{
        margin-top: 10px;
        height: 60px;
        width: 60px;
    }

    .chat-name{
        font-size: 16px;
    }

    .chat-text{
        padding: 16px 10px 16px 9px;
    }

    .icon-right{
        top: 30px;
        right: 25px;
    }
}


@media (min-width: 400px){
    .chat-header img{
        width: 70px;
        height: 70px;
    }
    .chat-name{ font-size: 18px; }
    .chat-username{ padding: 10px 5px 0px 5px; }
    .chat-message{ font-size: 13px; }
    .chat-sender{ margin: 0px 0px 0px 75px!important; }
    .chat-footer{ padding: 14px; }
    .send-button{ bottom: 22px;}
}

