.groupBody{
    overflow: hidden;
}
.groupContainer{
    overflow-x: hidden;
}

.groupCard{
    width: 800px;
    box-shadow: 0px 0px 14px 1px rgba(186,180,186,1);
    margin: 0 auto;
}

.groupCardHeader{
    background-color: white;
    text-align: center;
}

.groupCardHeader p{
    font-size: 35px;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.groupCloseButton{
    position: absolute;
    right: 14px;
    top: 20px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    cursor: pointer;
}

.groupCloseButton:hover{
    opacity: 1;
}

.groupCloseButton:before, .groupCloseButton:after{
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.groupCloseButton:before{
    transform: rotate(45deg);
}

.groupCloseButton:after{
    transform: rotate(-45deg);
}

.groupImage{
    padding-top: 80px;
    text-align: center;
}

.groupImage img{
    width: 300px;
    height: 180px;
    cursor: pointer;
    box-shadow: 0px 0px 13px 0px rgba(186,180,186,1);
}

#imageUpload{
    display: none;
}

.image-info{
    font-size: 15px;
    color: red;
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Germania';
    text-align: center;
}

.group-name{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    border-radius: 26px;
    border: 2px solid black;
    margin-bottom: 0px;
    box-shadow: 0px 0px 10px 1px rgba(102,95,102,1);
}

.group-name:focus{
    border: 2px solid #2E38D9;
}

.group-label{
    width: 100%;
}

#status{
    width: 100%;
    margin: 0 auto;
    padding: 5px 15px;
    font-size: 12px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px 1px rgba(102,95,102,1);
}

#status:focus{
    border: 2px solid #2E38D9
}

.group-status-label{
    width: 100%;
    margin-top:5px;
}

textarea{
    border-radius: 6px;
    resize: none;
    border: 1px solid black;
    outline: none;
}

.formMargin{
    margin-top: 58px;
    margin-bottom: 80px;
}

#submitGroupButton{
    float: right;
}

@media screen and (min-width: 300px){
    .groupCardHeader p{
        font-size: 25px;
        text-align: center;
    }
    .groupCloseButton{
        top: 15px;
        right: 20px;
    }
    .groupImage{
        padding-top: 30px;
        padding-bottom: 0px;
    }
}

.memberSearchBox{
    padding: 10px;
    display: block;
    border: 2px solid black;
    margin: 10px 0px;
    border-radius: 12px;
    overflow-y:scroll;
    max-height: 75vh;
    min-height: 75vh;
}

.memberSearchBox img{
    width: 70px;
    height: 70px;
}

.member{
    display: flex;
    cursor: pointer;
}

.memberName{
    padding: 20px 15px;
    font-size: 20px;
}

.currentGroupMember{
    text-align: center;
    padding:10px 0px;
}

.groupErrorMessage{
    color: red;
    font-size: 12px;
    font-weight: bold;
}

@media screen and (min-width: 406px){
    .groupImage img{
        width: 70%;
        height: 10%;
    }
    #status{
        font-size: 15px;
    }
    .image-info{
        font-size: 18px;
    }
}

@media screen and (min-width: 768px){
    .image-info{
        font-size: 22px;
    }
}


@media screen and (min-width: 992px){
    .groupImage{
        padding-top: 105px;
    }
    .image-info{
        font-size: 20px;
    }
}

@media screen and (min-width: 1200px){
    .groupImage{
        padding-top: 68px;
    }
}
