.signup-container{ margin-top: 7em }

.sign-up-card{
    width: 700px;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 11px 4px rgba(179,175,179,1);
}

.sign-up{ font-size: 18px; }
.signupusername input, .signuppassword input, .signupconfPassword input, .signupemail input{
    display: block;
    margin-top: 4px;
    padding: 6px 12px;
    outline: none;
    width: 100%;
    border-radius: 26px;
    border: 1px solid #BFCFD3;
}

.signupusername span, .signuppassword span, .signupconfPassword span, .signupemail span{
    font-size: 14px;
}

.signupusername input:focus, .signuppassword input:focus, .signupconfPassword input:focus, .signupemail input:focus{
    box-shadow: 0px 0px 5px 3px rgba(149,100,221,1);
}

.signup-error-message{
    color: red;
    font-size: 13px;
    margin-bottom: 0;
}

.signup-submit{
    background-color: #639;
    color: white;
}